name: Build and Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
        java:
          - 21
          - 23
    name: Plugin lang-python
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin
    - name: Build and Run Tests
      run: |
        ./gradlew build
    - name: Publish plugin ZIP to staging repository
      run: |
        ./gradlew publishPluginZipPublicationToZipStagingRepository
